body,
html,
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.container-wrapper {
    width: 270px;
    background-color: #f8d6a9;
    border-radius: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}